.container {
    padding: 15px;
    margin: 25px;
    border-radius: 15px;
    background-color: rgb(220, 217, 200);
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card {
    border-radius: 15px;
    padding-top: 10px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    text-align: center;
}

.card img {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.card p {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.6);
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ft {
    text-align: center;
}

.fl {
    margin-left: 20px;
    margin-right: 20px;
}

.fi {
    width: 500px;
    border-radius: 20px;
}